body {
  font-family: Calibri, Helvetica, sans serif;
  text-align: center;
  color: #333;
}
* {
  line-height: 140%;
}
div#container {
  display:inline-block;
  margin: auto;
  width: 1280px;
  text-align: left;
}
div.text {
  width: 600px;
  margin: 1em auto 1em auto;
}
.light { color: #999 }

