body {
  font-family: Georgia, Serif;
  text-align: center;
  color: #333;
}
* {
  line-height: 140%;
}
div#container {
  display:inline-block;
  padding: 1em;
  margin: 1em auto 1em auto;
  width: 35em;
  text-align: left;
}
